<app-header titulo="NACIMIENTO"></app-header>


<!--<ion-header>
  <ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" text="Volver" color="warning" mode="ios">

    </ion-back-button>
  </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
 <!-- <ion-button routerLink="/inicio">REGRESESESE</ion-button>-->
 <body style="background-color:#213331;">
  <p>Recidencia!</p>
  <div align="center"><h2 style="background-color:rgb(92, 110, 10);">LUGAR DE PROCEDENCIA</h2></div>
  <div align="center"><img src="assets/imagenes/hon.png" width="500" height="200"></div>
        <h1>Honduras</h1>
        <h1>Naci en :Honduras</h1>
        <h1 >Recido en:Tocoa, Colon</h1>
        <h1>Barrio: San Isidro</h1>
        <h1>Actualmente me encuentro en el mismo lugar.</h1>
        <img src="assets/imagenes/img1.jpg" width="150" height="150">
      </body>
  
</ion-content>
